<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>CloudRocketSSO</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<security-constraint>
		<display-name>CloudRocketSSO</display-name>
		<web-resource-collection>
		  <web-resource-name>CloudRocketSSO</web-resource-name>
		  <url-pattern>/</url-pattern>
		  <url-pattern>/*</url-pattern>
		  <url-pattern>/CloudRocketSSO/*</url-pattern>
		  <http-method>GET</http-method>
		  <http-method>PUT</http-method>
		  <http-method>HEAD</http-method>
		  <http-method>TRACE</http-method>
		  <http-method>POST</http-method>
		  <http-method>DELETE</http-method>
		  <http-method>OPTIONS</http-method>
		</web-resource-collection>

		<auth-constraint>
		     <role-name>CloudRocketSSO</role-name>
		</auth-constraint>

	</security-constraint>
	
	
</web-app>
